[submodule "qutebrowser/.config/qutebrowser/pywalQute"]
	path = qutebrowser/.config/qutebrowser/pywalQute
	url = https://github.com/makman12/pywalQute.git

[submodule "zsh/.oh_my_zsh"]
    path = zsh/.oh_my_zsh
    url = https://github.com/ohmyzsh/ohmyzsh.git
