/* Enable PyWal16 Colors
@import "/home/moss/.cache/wal/colors-waybar.css"; 
*/
@import "/home/moss/.config/waybar/gruvbox.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @color8;
}

#window,
#clock,
#battery,
#network,
#cpu,
#memory,
#workspaces,
#backlight {
    background: @background;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    color: @color5;
    border-radius: 10px 0px 0px 10px;
}

#workspaces button {
    color: @color8;
}

#workspaces button.active {
    color: @color9;
}

#workspaces button.hover {
    color: @color8;
    background: @background
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    color: @color3;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    color: #d65d0e;
    border-radius: 10px 0px 0px 10px;
}

#window {
    color: @color2;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @color6;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  @color4;
    border-radius: 10px 0px 0px 10px;

}

#battery {
    color: @color2;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
