@import "/home/moss/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @color7;
}

#workspaces button {
    padding: 5px;
    color: @color7;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color1;
}

#workspaces button.focused {
    color: @color1;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @background;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: @background; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: @background;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @color7;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  @color7;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: @color7;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @color7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: @color7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
